.mediaViewInfo {
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Index {
	position: absolute;
	width: 1920px;
	height: 1335px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#index_container {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 363px;
	top: 203px;
	overflow: visible;
}
#image_cover {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.image_cover {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Index_i {
	left: 59px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#imagecontainer {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 541px;
	top: 203px;
	overflow: visible;
}
#image_cover_k {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.image_cover_k {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Image {
	left: 55px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#member_container {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 719px;
	top: 203px;
	overflow: visible;
}
#Rectangle_9 {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Member {
	left: 43px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#code_container {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 897px;
	top: 203px;
	overflow: visible;
}
#Rectangle_10 {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Code {
	left: 59px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#surname_container {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 1075px;
	top: 203px;
	overflow: visible;
}
#Rectangle_11 {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Surname {
	left: 39px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#middle_name_cointainer {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 1253px;
	top: 203px;
	overflow: visible;
}
#Rectangle_12 {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Middle_Name {
	left: 16px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Given_name {
	position: absolute;
	width: 178px;
	height: 52px;
	left: 1431px;
	top: 203px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(107,144,218,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Given_Name {
	left: 20px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Vu {
	position: absolute;
	width: 1088px;
	height: 134px;
	left: 441px;
	top: 265px;
	overflow: visible;
}
#n_1 {
	left: 0px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#HE150798 {
	left: 505px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#VucqHe150798 {
	left: 301px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Chu {
	left: 711px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Quang_ {
	left: 880px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#V {
	left: 1064px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#vu {
	position: absolute;
	width: 135px;
	height: 134px;
	left: 122px;
	top: 0px;
	overflow: visible;
}
#Line_1 {
	opacity: 0.76;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1088px;
	height: 1px;
	left: 441.5px;
	top: 442.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Long {
	position: absolute;
	width: 1104px;
	height: 138px;
	left: 442px;
	top: 486px;
	overflow: visible;
}
#n_2 {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#HE150987 {
	left: 505px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Longnthe150987 {
	left: 292px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Nguyn {
	left: 697px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Thnh_ {
	left: 882px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Long_bg {
	left: 1061px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#long {
	position: absolute;
	width: 138px;
	height: 138px;
	left: 124px;
	top: 0px;
	overflow: visible;
}
#Line_2 {
	opacity: 0.76;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 1088px;
	height: 1px;
	left: 445px;
	top: 667.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Long_bj {
	position: absolute;
	width: 1094px;
	height: 140px;
	left: 442px;
	top: 718px;
	overflow: visible;
}
#n_3 {
	left: 0px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#HE150657 {
	left: 505px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#SonvnHE150657 {
	left: 292px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#son {
	position: absolute;
	width: 140px;
	height: 140px;
	left: 124px;
	top: 0px;
	overflow: visible;
}
#V_bo {
	left: 718px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Nam_ {
	left: 884px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Sn {
	left: 1061px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}